.white-space-nowrap {
    white-space: nowrap !important;
}

.pt-and-pb-10-and-pl-and-pr-8 {
    padding: 10px 8px !important;
}

.text-transform-uppercase {
    text-transform: uppercase !important;
}

.color-1a507a {
    color: #1a507a !important;
}

.background-f8f9fa {
    background-color: #f8f9fa !important;
}

.pl-and-pr-16 {
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.color-c9d6e0 {
    color: #c9d6e0 !important;
}

.thread-row-center {
    align-items: flex-start !important;
}

.thread-row-center .thread-avatar {
    margin-top: 4px !important;
}

.thread-row-center .thread-stats {
    align-self: center !important;
    margin-top: 0 !important;
}

.thread-row-center .thread-last-post {
    align-self: center !important;
    align-items: flex-start !important;
}

.thread-row-center .last-post-avatar {
    margin-top: 3px !important;
}

@media (min-width: 1025px) {
    .min-height-100-on-pc {
        min-height: 100px !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #moi-ra-lo .thread-meta {
        flex-wrap: wrap !important;
    }

    #moi-ra-lo .home-category-dot {
        display: none !important;
    }

    #moi-ra-lo .home-category-link-wrapper {
        width: 100% !important;
        margin-top: 4px !important;
        display: block;
    }

    #moi-ra-lo .home-category-link {
        width: auto !important;
        display: inline-block;
    }
}

@media (min-width: 768px) {
    .pt-196 {
        padding-top: 196px !important;
    }
}

@media (max-width: 767px) {
    .no-pt-mobile {
        padding: 0 !important;
    }

    .pl-and-pr-6 {
        padding-left: 6px !important;
        padding-right: 6px !important;
    }
}

@media (max-width: 376px) {
    .fs-9 {
        font-size: 9px !important;
    }
}

@media (min-width: 768px) {
    .lightbox-img-custom {
        width: auto !important;
        height: auto !important;
        max-width: 100% !important;
        max-height: calc(100vh - 100px) !important;
        object-fit: contain !important;
    }
}